In [34]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [35]:
tide_2010_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2010.csv')
tide_2011_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2011.csv')
tide_2012_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2012.csv')
tide_2013_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2013.csv')
tide_2014_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2014.csv')
tide_2015_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2015.csv')
tide_2010_boston = pd.read_csv('./data/Boston/tide_levels/tide_2010.csv')
tide_2011_boston = pd.read_csv('./data/Boston/tide_levels/tide_2011.csv')
tide_2012_boston = pd.read_csv('./data/Boston/tide_levels/tide_2012.csv')
tide_2013_boston = pd.read_csv('./data/Boston/tide_levels/tide_2013.csv')
tide_2014_boston = pd.read_csv('./data/Boston/tide_levels/tide_2014.csv')
tide_2015_boston = pd.read_csv('./data/Boston/tide_levels/tide_2015.csv')
tide_2010_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2010.csv')
tide_2011_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2011.csv')
tide_2012_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2012.csv')
tide_2013_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2013.csv')
tide_2014_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2014.csv')
tide_2015_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2015.csv')
tide_2010_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2010.csv')
tide_2011_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2011.csv')
tide_2012_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2012.csv')
tide_2013_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2013.csv')
tide_2014_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2014.csv')
tide_2015_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2015.csv')
tide_2010_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2010.csv')
tide_2011_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2011.csv')
tide_2012_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2012.csv')
tide_2013_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2013.csv')
tide_2014_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2014.csv')
tide_2015_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2015.csv')
tide_2010_newport = pd.read_csv('./data/newport/tide_levels/tide_2010.csv')
tide_2011_newport = pd.read_csv('./data/newport/tide_levels/tide_2011.csv')
tide_2012_newport = pd.read_csv('./data/newport/tide_levels/tide_2012.csv')
tide_2013_newport = pd.read_csv('./data/newport/tide_levels/tide_2013.csv')
tide_2014_newport = pd.read_csv('./data/newport/tide_levels/tide_2014.csv')
tide_2015_newport = pd.read_csv('./data/newport/tide_levels/tide_2015.csv')

In [36]:
def clean_tide(df):
    df = df.drop(columns= ['Predicted (ft)', 'Preliminary (ft)'], axis=1).set_index('Date')
    df.index = pd.to_datetime(df.index)
    df = df[df['Verified (ft)'] != '-']
    df['Verified (ft)'] = pd.to_numeric(df['Verified (ft)'])
    df = df.resample('D').mean()
    return df

In [37]:
tide_2010_atlantic = clean_tide(tide_2010_atlantic)
tide_2011_atlantic = clean_tide(tide_2011_atlantic)
tide_2012_atlantic = clean_tide(tide_2012_atlantic)
tide_2013_atlantic = clean_tide(tide_2013_atlantic)
tide_2014_atlantic = clean_tide(tide_2014_atlantic)
tide_2015_atlantic = clean_tide(tide_2015_atlantic)
tide_2010_boston = clean_tide(tide_2010_boston)
tide_2011_boston = clean_tide(tide_2011_boston)
tide_2012_boston = clean_tide(tide_2012_boston)
tide_2013_boston = clean_tide(tide_2013_boston)
tide_2014_boston = clean_tide(tide_2014_boston)
tide_2015_boston = clean_tide(tide_2015_boston)
tide_2010_bridgeport = clean_tide(tide_2010_bridgeport)
tide_2011_bridgeport = clean_tide(tide_2011_bridgeport)
tide_2012_bridgeport = clean_tide(tide_2012_bridgeport)
tide_2013_bridgeport = clean_tide(tide_2013_bridgeport)
tide_2014_bridgeport = clean_tide(tide_2014_bridgeport)
tide_2015_bridgeport = clean_tide(tide_2015_bridgeport)
tide_2010_new_haven = clean_tide(tide_2010_new_haven)
tide_2011_new_haven = clean_tide(tide_2011_new_haven)
tide_2012_new_haven = clean_tide(tide_2012_new_haven)
tide_2013_new_haven = clean_tide(tide_2013_new_haven)
tide_2014_new_haven = clean_tide(tide_2014_new_haven)
tide_2015_new_haven = clean_tide(tide_2015_new_haven)
tide_2010_new_london = clean_tide(tide_2010_new_london)
tide_2011_new_london = clean_tide(tide_2011_new_london)
tide_2012_new_london = clean_tide(tide_2012_new_london)
tide_2013_new_london = clean_tide(tide_2013_new_london)
tide_2014_new_london = clean_tide(tide_2014_new_london)
tide_2015_new_london = clean_tide(tide_2015_new_london)
tide_2010_newport = clean_tide(tide_2010_newport)
tide_2011_newport = clean_tide(tide_2011_newport)
tide_2012_newport = clean_tide(tide_2012_newport)
tide_2013_newport = clean_tide(tide_2013_newport)
tide_2014_newport = clean_tide(tide_2014_newport)
tide_2015_newport = clean_tide(tide_2015_newport)

In [38]:
atlantic_tide = pd.concat([tide_2010_atlantic, tide_2011_atlantic, tide_2012_atlantic, tide_2013_atlantic, tide_2014_atlantic, tide_2015_atlantic])
boston_tide = pd.concat([tide_2010_boston, tide_2011_boston, tide_2012_boston, tide_2013_boston, tide_2014_boston, tide_2015_boston])
bridgeport_tide = pd.concat([tide_2010_bridgeport, tide_2011_bridgeport, tide_2012_bridgeport, tide_2013_bridgeport, tide_2014_bridgeport, tide_2015_bridgeport])
new_haven_tide = pd.concat([tide_2010_new_haven, tide_2011_new_haven, tide_2012_new_haven, tide_2013_new_haven, tide_2014_new_haven, tide_2015_new_haven])
new_london_tide = pd.concat([tide_2010_new_london, tide_2011_new_london, tide_2012_new_london, tide_2013_new_london, tide_2014_new_london, tide_2015_new_london])
newport_tide = pd.concat([tide_2010_newport, tide_2011_newport, tide_2012_newport, tide_2013_newport, tide_2014_newport, tide_2015_newport])

In [39]:
baro_2010_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2010.csv')
baro_2011_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2011.csv')
baro_2012_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2012.csv')
baro_2013_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2013.csv')
baro_2014_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2014.csv')
baro_2015_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2015.csv')
baro_2010_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2010.csv')
baro_2011_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2011.csv')
baro_2012_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2012.csv')
baro_2013_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2013.csv')
baro_2014_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2014.csv')
baro_2015_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2015.csv')
baro_2010_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2010.csv')
baro_2011_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2011.csv')
baro_2012_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2012.csv')
baro_2013_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2013.csv')
baro_2014_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2014.csv')
baro_2015_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2015.csv')
baro_2010_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2010.csv')
baro_2011_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2011.csv')
baro_2012_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2012.csv')
baro_2013_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2013.csv')
baro_2014_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2014.csv')
baro_2015_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2015.csv')
baro_2010_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2010.csv')
baro_2011_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2011.csv')
baro_2012_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2012.csv')
baro_2013_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2013.csv')
baro_2014_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2014.csv')
baro_2015_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2015.csv')
baro_2010_newport = pd.read_csv('./data/newport/baro_pressure/baro_2010.csv')
baro_2011_newport = pd.read_csv('./data/newport/baro_pressure/baro_2011.csv')
baro_2012_newport = pd.read_csv('./data/newport/baro_pressure/baro_2012.csv')
baro_2013_newport = pd.read_csv('./data/newport/baro_pressure/baro_2013.csv')
baro_2014_newport = pd.read_csv('./data/newport/baro_pressure/baro_2014.csv')
baro_2015_newport = pd.read_csv('./data/newport/baro_pressure/baro_2015.csv')

In [40]:
def clean_baro(df):
    df['DATE TIME'] = df['DATE TIME'].map(lambda x: x[:10])
    df = df[['DATE TIME', ' BARO']]
    df.rename(columns={'DATE TIME': 'Date', ' BARO': 'baro'}, inplace=True)
    df.dropna(inplace=True)
    df = df.set_index('Date')
    df.index = pd.to_datetime(df.index)
    df['baro'] = pd.to_numeric(df['baro'])
    df = df.resample('D').mean()
    return df

In [41]:
baro_2010_atlantic = clean_baro(baro_2010_atlantic)
baro_2011_atlantic = clean_baro(baro_2011_atlantic)
baro_2012_atlantic = clean_baro(baro_2012_atlantic)
baro_2013_atlantic = clean_baro(baro_2013_atlantic)
baro_2014_atlantic = clean_baro(baro_2014_atlantic)
baro_2015_atlantic = clean_baro(baro_2015_atlantic)
baro_2010_boston = clean_baro(baro_2010_boston)
baro_2011_boston = clean_baro(baro_2011_boston)
baro_2012_boston = clean_baro(baro_2012_boston)
baro_2013_boston = clean_baro(baro_2013_boston)
baro_2014_boston = clean_baro(baro_2014_boston)
baro_2015_boston = clean_baro(baro_2015_boston)
baro_2010_bridgeport = clean_baro(baro_2010_bridgeport)
baro_2011_bridgeport = clean_baro(baro_2011_bridgeport)
baro_2012_bridgeport = clean_baro(baro_2012_bridgeport)
baro_2013_bridgeport = clean_baro(baro_2013_bridgeport)
baro_2014_bridgeport = clean_baro(baro_2014_bridgeport)
baro_2015_bridgeport = clean_baro(baro_2015_bridgeport)
baro_2010_new_haven = clean_baro(baro_2010_new_haven)
baro_2011_new_haven = clean_baro(baro_2011_new_haven)
baro_2012_new_haven = clean_baro(baro_2012_new_haven)
baro_2013_new_haven = clean_baro(baro_2013_new_haven)
baro_2014_new_haven = clean_baro(baro_2014_new_haven)
baro_2015_new_haven = clean_baro(baro_2015_new_haven)
baro_2010_new_london = clean_baro(baro_2010_new_london)
baro_2011_new_london = clean_baro(baro_2011_new_london)
baro_2012_new_london = clean_baro(baro_2012_new_london)
baro_2013_new_london = clean_baro(baro_2013_new_london)
baro_2014_new_london = clean_baro(baro_2014_new_london)
baro_2015_new_london = clean_baro(baro_2015_new_london)
baro_2010_newport = clean_baro(baro_2010_newport)
baro_2011_newport = clean_baro(baro_2011_newport)
baro_2012_newport = clean_baro(baro_2012_newport)
baro_2013_newport = clean_baro(baro_2013_newport)
baro_2014_newport = clean_baro(baro_2014_newport)
baro_2015_newport = clean_baro(baro_2015_newport)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [42]:
atlantic_baro = pd.concat([baro_2010_atlantic, baro_2011_atlantic, baro_2012_atlantic, baro_2013_atlantic, baro_2014_atlantic, baro_2015_atlantic])
boston_baro = pd.concat([baro_2010_boston, baro_2011_boston, baro_2012_boston, baro_2013_boston, baro_2014_boston, baro_2015_boston])
bridgeport_baro = pd.concat([baro_2010_bridgeport, baro_2011_bridgeport, baro_2012_bridgeport, baro_2013_bridgeport, baro_2014_bridgeport, baro_2015_bridgeport])
new_haven_baro = pd.concat([baro_2010_new_haven, baro_2011_new_haven, baro_2012_new_haven, baro_2013_new_haven, baro_2014_new_haven, baro_2015_new_haven])
new_london_baro = pd.concat([baro_2010_new_london, baro_2011_new_london, baro_2012_new_london, baro_2013_new_london, baro_2014_new_london, baro_2015_new_london])
newport_baro = pd.concat([baro_2010_newport, baro_2011_newport, baro_2012_newport, baro_2013_newport, baro_2014_newport, baro_2015_newport])

In [43]:
atlantic = pd.merge(atlantic_tide, atlantic_baro, on='Date')
boston = pd.merge(boston_tide, boston_baro, on='Date')
bridgeport = pd.merge(bridgeport_tide, bridgeport_baro, on='Date')
new_haven = pd.merge(new_haven_tide, new_haven_baro, on='Date')
new_london = pd.merge(new_london_tide, new_london_baro, on='Date')
newport = pd.merge(newport_tide, newport_baro, on='Date')

In [44]:
atlantic_unemploy = pd.read_csv('./data/Atlantic_city_data/unemployment_nonseaonal.csv')
boston_unemploy = pd.read_csv('./data/Boston/unemployment_nonseasonal.csv')
bridgeport_unemploy = pd.read_csv('./data/bridgeport_data/unemployment_nonseasonal.csv')
new_haven_unemploy = pd.read_csv('./data/new_haven_data/unemployment_nonseasonal.csv')
new_london_unemploy = pd.read_csv('./data/new_london_data/unemployment_nonseasonal.csv')
newport_unemploy = pd.read_csv('./data/newport/unemployment_nonseasonal.csv')

In [45]:
def clean_unemploy(df, noaa_data):
    df.columns = ['Date', 'unemployment_rate']
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    df['unemployment_rate'] = pd.to_numeric(df['unemployment_rate'])
    list_days = noaa_data.index
    rate_list = [df.loc[str(i)[:7]]['unemployment_rate'].item() for i in list_days]
    unemploy_df = pd.DataFrame(data=rate_list, index=list_days)
    unemploy_df.rename(columns={0: 'rate'}, inplace=True)
    return unemploy_df

In [46]:
atlantic_unemploy_df = clean_unemploy(atlantic_unemploy, atlantic)
boston_unemploy_df = clean_unemploy(boston_unemploy, boston)
bridgeport_unemploy_df = clean_unemploy(bridgeport_unemploy, bridgeport)
new_haven_unemploy_df = clean_unemploy(new_haven_unemploy, new_haven)
new_london_unemploy_df = clean_unemploy(new_london_unemploy, new_london)
newport_unemploy_df = clean_unemploy(newport_unemploy, newport)

In [47]:
atlantic_city = pd.merge(atlantic, atlantic_unemploy_df, on='Date')
boston = pd.merge(boston, boston_unemploy_df, on='Date')
bridgeport = pd.merge(bridgeport, bridgeport_unemploy_df, on='Date')
new_haven = pd.merge(new_haven, new_haven_unemploy_df, on='Date')
new_london = pd.merge(new_london, new_london_unemploy_df, on='Date')
newport = pd.merge(newport, newport_unemploy_df, on='Date')

In [50]:
atlantic_city.head()

            Verified (ft)         baro  rate
Date
2010-01-01      -0.073333  1012.895238  13.9
2010-01-02       0.557500  1005.982609  13.9
2010-01-03      -0.865000  1003.373913  13.9
2010-01-04       0.077500  1005.636364  13.9
2010-01-05       0.332500  1007.321053  13.9