In [145]:
import pandas as pd

import numpy as np
import matplotlib.pyplot

In [146]:
tide_2010 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2010.csv')
tide_2011 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2011.csv')
tide_2012 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2012.csv')
tide_2013 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2013.csv')
tide_2014 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2014.csv')
tide_2015 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2015.csv')

In [147]:
def clean_tide(df):
    df = df.drop(columns= ['Predicted (ft)', 'Preliminary (ft)'], axis=1).set_index('Date')
    df.index = pd.to_datetime(df.index)
    df = df[df['Verified (ft)'] != '-']
    df['Verified (ft)'] = pd.to_numeric(df['Verified (ft)'])
    df = df.resample('D').mean()
    return df

In [148]:
tide_2010 = clean_tide(tide_2010)
tide_2011 = clean_tide(tide_2011)
tide_2012 = clean_tide(tide_2012)
tide_2013 = clean_tide(tide_2013)
tide_2014 = clean_tide(tide_2014)
tide_2015 = clean_tide(tide_2015)

            Verified (ft)
Date
2010-01-01            NaN
2010-01-02            NaN
2010-01-03            NaN
2010-01-04            NaN
2010-01-05            NaN
2010-01-06            NaN
2010-01-07            NaN
2010-01-08            NaN
2010-01-09            NaN
2010-01-10            NaN
2010-01-11            NaN
2010-01-12            NaN
2010-01-13            NaN
2010-01-14            NaN
2010-01-15            NaN
2010-01-16            NaN
2010-01-17            NaN
2010-01-18            NaN
2010-01-19            NaN
2010-01-20            NaN
2010-01-21            NaN
2010-01-22            NaN
2010-01-23            NaN
2010-01-24            NaN
2010-01-25            NaN
2010-01-26            NaN
2010-01-27            NaN
2010-01-28            NaN
2010-01-29            NaN
2010-01-30            NaN
...                   ...
2011-12-02            NaN
2011-12-03            NaN
2011-12-04            NaN
2011-12-05            NaN
2011-12-06            NaN
2011-12-07            NaN
2011-12-08            NaN
2011-12-09            NaN
2011-12-10            NaN
2011-12-11            NaN
2011-12-12            NaN
2011-12-13            NaN
2011-12-14            NaN
2011-12-15            NaN
2011-12-16            NaN
2011-12-17            NaN
2011-12-18            NaN
2011-12-19            NaN
2011-12-20            NaN
2011-12-21            NaN
2011-12-22            NaN
2011-12-23            NaN
2011-12-24            NaN
2011-12-25            NaN
2011-12-26            NaN
2011-12-27            NaN
2011-12-28            NaN
2011-12-29            NaN
2011-12-30            NaN
2011-12-31            NaN

[730 rows x 1 columns]

In [188]:
# atlantic_dfs = tide_2010 + tide_2011 #, 'tide_2012', 'tide_2013', 'tide_2014', 'tide_2015']
atlantic_tide = pd.concat([tide_2010, tide_2011, tide_2012, tide_2013, tide_2014, tide_2015])

In [190]:
atlantic_tide.head()

            Verified (ft)
Date
2010-01-01      -0.073333
2010-01-02       0.557500
2010-01-03      -0.865000
2010-01-04       0.077500
2010-01-05       0.332500

In [280]:
baro_2010 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2010.csv')
baro_2011 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2011.csv')
baro_2012 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2012.csv')
baro_2013 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2013.csv')
baro_2014 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2014.csv')
baro_2015 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2015.csv')

In [281]:
baro_2010.head()

          DATE TIME   WINDSPEED   DIR   GUSTS    AT    BARO   RELHUM   VIS
0  01/01/2010 00:00         NaN   NaN     NaN  35.6  1017.0      NaN   NaN
1  01/01/2010 01:00         NaN   NaN     NaN  36.1  1016.8      NaN   NaN
2  01/01/2010 02:00         NaN   NaN     NaN   NaN     NaN      NaN   NaN
3  01/01/2010 03:00         NaN   NaN     NaN  35.6  1016.1      NaN   NaN
4  01/01/2010 04:00         NaN   NaN     NaN  36.0  1015.4      NaN   NaN

In [282]:
def clean_baro(df):
    df['DATE TIME'] = df['DATE TIME'].map(lambda x: x[:10])
    df = df[['DATE TIME', ' BARO']]
    df.rename(columns={'DATE TIME': 'Date', ' BARO': 'baro'}, inplace=True)
    df.dropna(inplace=True)
    df = df.set_index('Date')
    df.index = pd.to_datetime(df.index)
    df['baro'] = pd.to_numeric(df['baro'])
    df = df.resample('D').mean()
    return df

In [283]:
baro_2010 = clean_baro(baro_2010)
baro_2011 = clean_baro(baro_2011)
baro_2012 = clean_baro(baro_2012)
baro_2013 = clean_baro(baro_2013)
baro_2014 = clean_baro(baro_2014)
baro_2015 = clean_baro(baro_2015)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [284]:
atlantic_baro = pd.concat([baro_2010, baro_2011, baro_2012, baro_2013, baro_2014, baro_2015])

In [386]:
atlantic_unemploy.columns

Index(['DATE', 'ATLA134URN'], dtype='object')

In [ ]:
atlantic_unemploy.index = baro_2010.index.day

In [442]:
atlantic_unemploy.rename(columns={'DATE': 'Date', 'ATLA134URN': 'unemployment_rate'}, inplace=True)
atlantic_unemploy = atlantic_unemploy[['Date', 'unemployment_rate']]
#atlantic_unemploy.index = baro_2010.index
atlantic_unemploy = atlantic_unemploy.set_index('Date')
#atlantic_unemploy.index = pd.to_datetime(atlantic_unemploy.index)
atlantic_unemploy['unemployment_rate'] = pd.to_numeric(atlantic_unemploy['unemployment_rate'])

KeyError: "['Date'] not in index"

In [399]:
baro_2010.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2010-12-22', '2010-12-23', '2010-12-24', '2010-12-25',
               '2010-12-26', '2010-12-27', '2010-12-28', '2010-12-29',
               '2010-12-30', '2010-12-31'],
              dtype='datetime64[ns]', name='Date', length=365, freq='D')

In [389]:
atlantic = pd.merge(atlantic_tide, atlantic_baro, on='Date')

In [393]:
atlantic_unemploy
at

            unemployment_rate
Date
2010-01-01               13.9
2010-02-01               13.8
2010-03-01               13.1
2010-04-01               12.1
2010-05-01               11.8
2010-06-01               11.6
2010-07-01               11.7
2010-08-01               11.2
2010-09-01               11.4
2010-10-01               11.6
2010-11-01               12.3
2010-12-01               12.9
2011-01-01               14.3
2011-02-01               13.9
2011-03-01               13.3
2011-04-01               12.2
2011-05-01               12.3
2011-06-01               12.2
2011-07-01               12.2
2011-08-01               11.6
2011-09-01               11.8
2011-10-01               12.0
2011-11-01               11.9
2011-12-01               12.6
2012-01-01               13.6
2012-02-01               13.6
2012-03-01               13.0
2012-04-01               12.1
2012-05-01               12.3
2012-06-01               12.2
...                       ...
2013-07-01               11.4
2013-08-01               10.6
2013-09-01               10.5
2013-10-01               10.8
2013-11-01               10.3
2013-12-01               10.2
2014-01-01               11.9
2014-02-01               12.3
2014-03-01               11.4
2014-04-01                9.5
2014-05-01                9.6
2014-06-01                9.3
2014-07-01                9.7
2014-08-01                9.4
2014-09-01               10.4
2014-10-01               10.6
2014-11-01               11.2
2014-12-01               11.3
2015-01-01               12.7
2015-02-01               12.4
2015-03-01               11.5
2015-04-01               10.0
2015-05-01               10.0
2015-06-01                9.5
2015-07-01                9.2
2015-08-01                8.3
2015-09-01                7.8
2015-10-01                7.7
2015-11-01                7.7
2015-12-01                7.7

[72 rows x 1 columns]

In [390]:
atlantic.head()

            Verified (ft)         baro
Date
2010-01-01      -0.073333  1012.895238
2010-01-02       0.557500  1005.982609
2010-01-03      -0.865000  1003.373913
2010-01-04       0.077500  1005.636364
2010-01-05       0.332500  1007.321053

In [449]:
atlantic_unemploy = pd.read_csv('./oesm18ma/Atlantic_city_data/unemployment_nonseaonal.csv')

In [450]:
year1 = atlantic_unemploy[:12]

In [456]:
atlantic_unemploy.rename(columns={'DATE': 'Date', 'ATLA134URN': 'unemployment_rate'}, inplace=True)
atlantic_unemploy = atlantic_unemploy[['Date', 'unemployment_rate']]
#atlantic_unemploy.index = baro_2010.index
#atlantic_unemploy = atlantic_unemploy.set_index('Date')
atlantic_unemploy['Date'] = pd.to_datetime(atlantic_unemploy['Date'])
atlantic_unemploy['unemployment_rate'] = pd.to_numeric(atlantic_unemploy['unemployment_rate'])

In [469]:
atlantic_unemploy['month'] = pd.DatetimeIndex(atlantic_unemploy['Date']).month
atlantic_unemploy['year'] = pd.DatetimeIndex(atlantic_unemploy['Date']).year

In [470]:
atlantic_unemploy.head()

        Date  unemployment_rate  month  year
0 2010-01-01               13.9      1  2010
1 2010-02-01               13.8      2  2010
2 2010-03-01               13.1      3  2010
3 2010-04-01               12.1      4  2010
4 2010-05-01               11.8      5  2010