In [624]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [625]:
tide_2010 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2010.csv')
tide_2011 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2011.csv')
tide_2012 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2012.csv')
tide_2013 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2013.csv')
tide_2014 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2014.csv')
tide_2015 = pd.read_csv('./oesm18ma/Atlantic_city_data/tide_levels/tide_2015.csv')

In [626]:
def clean_tide(df):
    df = df.drop(columns= ['Predicted (ft)', 'Preliminary (ft)'], axis=1).set_index('Date')
    df.index = pd.to_datetime(df.index)
    df = df[df['Verified (ft)'] != '-']
    df['Verified (ft)'] = pd.to_numeric(df['Verified (ft)'])
    df = df.resample('D').mean()
    return df

In [627]:
tide_2010 = clean_tide(tide_2010)
tide_2011 = clean_tide(tide_2011)
tide_2012 = clean_tide(tide_2012)
tide_2013 = clean_tide(tide_2013)
tide_2014 = clean_tide(tide_2014)
tide_2015 = clean_tide(tide_2015)

In [628]:
# atlantic_dfs = tide_2010 + tide_2011 #, 'tide_2012', 'tide_2013', 'tide_2014', 'tide_2015']
atlantic_tide = pd.concat([tide_2010, tide_2011, tide_2012, tide_2013, tide_2014, tide_2015])

In [629]:
atlantic_tide.head()

            Verified (ft)
Date
2010-01-01      -0.073333
2010-01-02       0.557500
2010-01-03      -0.865000
2010-01-04       0.077500
2010-01-05       0.332500

In [630]:
baro_2010 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2010.csv')
baro_2011 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2011.csv')
baro_2012 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2012.csv')
baro_2013 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2013.csv')
baro_2014 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2014.csv')
baro_2015 = pd.read_csv('./oesm18ma/Atlantic_city_data/baro_pressure/baro_2015.csv')

In [631]:
baro_2010.head()

          DATE TIME   WINDSPEED   DIR   GUSTS    AT    BARO   RELHUM   VIS
0  01/01/2010 00:00         NaN   NaN     NaN  35.6  1017.0      NaN   NaN
1  01/01/2010 01:00         NaN   NaN     NaN  36.1  1016.8      NaN   NaN
2  01/01/2010 02:00         NaN   NaN     NaN   NaN     NaN      NaN   NaN
3  01/01/2010 03:00         NaN   NaN     NaN  35.6  1016.1      NaN   NaN
4  01/01/2010 04:00         NaN   NaN     NaN  36.0  1015.4      NaN   NaN

In [632]:
def clean_baro(df):
    df['DATE TIME'] = df['DATE TIME'].map(lambda x: x[:10])
    df = df[['DATE TIME', ' BARO']]
    df.rename(columns={'DATE TIME': 'Date', ' BARO': 'baro'}, inplace=True)
    df.dropna(inplace=True)
    df = df.set_index('Date')
    df.index = pd.to_datetime(df.index)
    df['baro'] = pd.to_numeric(df['baro'])
    df = df.resample('D').mean()
    return df

In [633]:
baro_2010 = clean_baro(baro_2010)
baro_2011 = clean_baro(baro_2011)
baro_2012 = clean_baro(baro_2012)
baro_2013 = clean_baro(baro_2013)
baro_2014 = clean_baro(baro_2014)
baro_2015 = clean_baro(baro_2015)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [634]:
atlantic_baro = pd.concat([baro_2010, baro_2011, baro_2012, baro_2013, baro_2014, baro_2015])

In [635]:
atlantic_unemploy.columns

Index(['DATE', 'ATLA134URN'], dtype='object')

In [636]:
baro_2010.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2010-12-22', '2010-12-23', '2010-12-24', '2010-12-25',
               '2010-12-26', '2010-12-27', '2010-12-28', '2010-12-29',
               '2010-12-30', '2010-12-31'],
              dtype='datetime64[ns]', name='Date', length=365, freq='D')

In [637]:
atlantic = pd.merge(atlantic_tide, atlantic_baro, on='Date')

In [638]:
atlantic.head()

            Verified (ft)         baro
Date
2010-01-01      -0.073333  1012.895238
2010-01-02       0.557500  1005.982609
2010-01-03      -0.865000  1003.373913
2010-01-04       0.077500  1005.636364
2010-01-05       0.332500  1007.321053

In [639]:
atlantic_unemploy = pd.read_csv('./oesm18ma/Atlantic_city_data/unemployment_nonseaonal.csv')

In [640]:
def clean_unemploy(df, noaa_data):
    df.rename(columns={'DATE': 'Date', 'ATLA134URN': 'unemployment_rate'}, inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    df['unemployment_rate'] = pd.to_numeric(df['unemployment_rate'])
    list_days = noaa_data.index
    rate_list = [df.loc[str(i)[:7]]['unemployment_rate'].item() for i in list_days]
    unemploy_df = pd.DataFrame(data=rate_list, index=list_days)
    unemploy_df.rename(columns={0: 'rate'}, inplace=True)
    return unemploy_df

In [642]:
unemploy_df = clean_unemploy(atlantic_unemploy, atlantic)

In [643]:
atlantic = pd.merge(atlantic, unemploy_df, on='Date')

In [645]:
atlantic.head()

            Verified (ft)         baro  rate
Date
2010-01-01      -0.073333  1012.895238  13.9
2010-01-02       0.557500  1005.982609  13.9
2010-01-03      -0.865000  1003.373913  13.9
2010-01-04       0.077500  1005.636364  13.9
2010-01-05       0.332500  1007.321053  13.9