In [1]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [2]:
atlantic_unemploy = pd.read_csv('./data/Atlantic_city_data/unemployment_nonseaonal.csv')
boston_unemploy = pd.read_csv('./data/Boston/unemployment_nonseasonal.csv')
bridgeport_unemploy = pd.read_csv('./data/bridgeport_data/unemployment_nonseasonal.csv')
new_haven_unemploy = pd.read_csv('./data/new_haven_data/unemployment_nonseasonal.csv')
new_london_unemploy = pd.read_csv('./data/new_london_data/unemployment_nonseasonal.csv')
newport_unemploy = pd.read_csv('./data/newport/unemployment_nonseasonal.csv')
baltimore_unemploy = pd.read_csv('./data/baltimore_data/unemployment_nonseasonal.csv')
ocean_city_unemploy = pd.read_csv('./data/ocean_city/unemployment_nonseasonal.csv')
portland_unemploy = pd.read_csv('./data/portland/unemployment_nonseasonal.csv')
providence_unemploy = pd.read_csv('./data/providence/unemployment_nonseasonal.csv')

In [3]:
atlantic_unemploy.set_index('DATE', inplace=True)
atlantic_unemploy.sort_index(inplace=True)  

atlantic_unemploy.head()

            ATLA134URN
DATE
2010-01-01        13.9
2010-02-01        13.8
2010-03-01        13.1
2010-04-01        12.1
2010-05-01        11.8

In [4]:
boston_unemploy.set_index('DATE', inplace=True)
boston_unemploy.sort_index(inplace=True)  

boston_unemploy.head()

            BOST625URN
DATE
2010-01-01         8.6
2010-02-01         8.3
2010-03-01         8.0
2010-04-01         7.6
2010-05-01         7.5

In [5]:
bridgeport_unemploy.set_index('DATE', inplace=True)
bridgeport_unemploy.sort_index(inplace=True)  

bridgeport_unemploy.head()

            BRID909URN
DATE
2010-01-01         9.0
2010-02-01         8.9
2010-03-01         8.7
2010-04-01         8.5
2010-05-01         8.4

In [6]:
new_haven_unemploy.set_index('DATE', inplace=True)
new_haven_unemploy.sort_index(inplace=True)  

new_haven_unemploy.head()

            NEWH709URN
DATE
2010-01-01         9.4
2010-02-01         9.4
2010-03-01         9.2
2010-04-01         9.0
2010-05-01         9.0

In [7]:
new_london_unemploy.set_index('DATE', inplace=True)
new_london_unemploy.sort_index(inplace=True)  

new_london_unemploy.head()

            CTNEWL1URN
DATE
2010-01-01         9.1
2010-02-01         9.1
2010-03-01         9.0
2010-04-01         8.7
2010-05-01         8.6

In [8]:
newport_unemploy.set_index('DATE', inplace=True)
newport_unemploy.sort_index(inplace=True)  

newport_unemploy.head()

            RINEWP5URN
DATE
2010-01-01        12.3
2010-02-01        11.9
2010-03-01        11.6
2010-04-01         9.5
2010-05-01         9.1

In [9]:
baltimore_unemploy.set_index('DATE', inplace=True)
baltimore_unemploy.sort_index(inplace=True)  

baltimore_unemploy.head()

            MDBALT5URN
DATE
2010-01-01        11.3
2010-02-01        11.6
2010-03-01        11.5
2010-04-01        10.6
2010-05-01        10.8

In [10]:
ocean_city_unemploy.set_index('DATE', inplace=True)
ocean_city_unemploy.sort_index(inplace=True)  

ocean_city_unemploy.head()

            MDWORC7URN
DATE
2010-01-01        17.9
2010-02-01        18.7
2010-03-01        17.1
2010-04-01        13.5
2010-05-01        11.5

In [11]:
portland_unemploy.set_index('DATE', inplace=True)
portland_unemploy.sort_index(inplace=True)  

portland_unemploy.head()

            PORT723URN
DATE
2010-01-01         7.7
2010-02-01         7.9
2010-03-01         7.7
2010-04-01         7.0
2010-05-01         6.8

In [12]:
providence_unemploy.set_index('DATE', inplace=True)
providence_unemploy.sort_index(inplace=True)  

providence_unemploy.head()

            RIPROV7URN
DATE
2010-01-01        12.4
2010-02-01        12.2
2010-03-01        12.1
2010-04-01        11.7
2010-05-01        11.8